  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  /* logo */

  .logo {
      width: fit-content;
      height: auto;
  }

  /* nav */

  nav {
    background-color: #0F0E10;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

  ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0%;
  }

 ul li {
      margin: 0 20px;
  }

 ul li a {
      color: #acacac;
      text-decoration: none;
      font-size: 16px;
      font-weight: 300;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    opacity: 0,7;
}

  /* botones */

  .botones {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }

  button {
      margin: 0 10px;
      padding: 12px 24px;
      background-color: #6BDAB0;
      border: none;
      border-radius: 24px;
      font-size: 16px;
      font-weight: 300;
      color: #0F0E10;
      cursor: pointer;
  }

  button:hover {
    background-color: #37705a;
    color: #fff;
  }

  .ingresar {
      background-color: #0F0E10;
      color: #fff;
      border: 1px solid #fff;
  }

  /* Seccion 1 */

  #seccion1{
    background-color: #0F0E10;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-image: linear-gradient(to right, #6BDAB0, #9E68DD);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .texto1{
    width: 500px;
    height: 400px;
  .texto1,h1{
    color: #fff;
    height: 100px;
    font-size: 50px;
    text-align: left;  }
  }
  
  .texto1,h1,p{
    color: #acacac;
  }

  .img1{
    display: flex;
    width: 500px;
    height: 400px;
  }

  /* Seccion 2 */
 