  #mibody {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #0F0E10;
  }

/* logo */

.logo {
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
}

/* nav */

nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

ul.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

ul.menu li {
  margin: 0 20px;
}

ul.menu li a {
  color: #acacac;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

ul.menu li a:hover {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.toggle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.ingreso button {
  margin-right: 10px;
}

/* Responsive */

@media (max-width: 1024px) {
  
  .logo {
    margin-right: auto;
  }

  .toggle-btn {
    display: block;
  }

  ul.menu {
    display: none;
    flex-direction: column;
    background-color: #0F0E10;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
  }

  ul.menu.open {
    display: flex;
  }

  ul.menu li {
    margin: 10px 0;
  }

  .ingreso {
    display: none;
  }

}
  

  /* Fondo con video */
  #Bienvenida {
    min-height: 100vh;
    position: relative;
  }
  
  .welcome {
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
  }

  .welcome h1 {
    color: #6BDAB0;
    padding: 20px;
    font-weight: 700;
    font-size: 50px;

  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #37705a;
    opacity: 0.5;
    mix-blend-mode: overlay;
  }


  /* botones */
  .botones {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }

  button {
      padding: 12px 24px;
      background-color: #6BDAB0;
      border: none;
      border-radius: 24px;
      font-size: 16px;
      font-weight: 300;
      color: #0F0E10;
      cursor: pointer;
  }

  button:hover {
    background-color: #37705a;
    color: #fff;
  }

  .ingresar {
      background-color: #0F0E10;
      color: #fff;
      border: 1px solid #fff;
  }

  /* Seccion 1 */
  #secion1{
    background-color: #0F0E10;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    margin-bottom: 200px;
  }

  .texto1{
    width: 500px;
    height: 400px;
  }

  .texto1 h1{
    color: #fdfcfc;
    font-size: 50px;
    text-align: left;
    padding-bottom: 20px;
  }
  
  .texto1 p{
    color: #acacac;
    font-size: 16px;
    padding-bottom: 20px;
  }

  .img1{
    display: flex;
    width: 500px;
    height: 400px;
  }

  /* Seccion 2 */

  .secion2{
    margin-bottom: 100px;
    margin-top: 100px;

  }

.titulo2 h1{
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}


#carta1{
  left: 50%;
  height: 400px;
  width: 750px; 
  border: 3px solid #6BDAB0;
  background: black;

}
#carta1 h5{
  color: white;
  font-size: 4vh;
}

#carta1 p{
  color: gray;
  text-align: center;
  margin-top: 70px;
}

#carta2{
  height: 400px;
  width: 750px; 
  border: 3px solid #6BDAB0;
  background: black;
}


#carta2 h5{
  color: white;
  font-size: 4vh;
}

#carta2 p{
  color: gray;
  text-align: center;
  margin-top: 70px;
}

#carta3{
left: 50%;
height: 400px;
width: 750px;

 
}

#carta3{
  left: 50%;
  height: 400px;
  width: 750px; 
  border: 3px solid #6BDAB0;
  background: black;
  }
  #carta3 h5{
    color: white;
    font-size: 4vh;
  }

  #carta3 p{
    color: gray;
    text-align: center;
    margin-top: 50px;
  }
 
  /* Nosotros */
  .holder{
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .nosotros h1{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
  }

  .staff-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
  }

  .miembro{
    text-align: center;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
  }

  .miembro .botones {
    display: block;
    margin: 0 auto;
    text-decoration: none;
  }

  .miembro img{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 100%;
    border: 5px solid #9E68DD;
  }

  .miembro h5{
    color: #acacac;
    margin: 10px;
  }

  .miembro h2{
    color: #f5eeee;
    margin: 15px;
  }

  .miembro p{
    margin-bottom: 30px;
    font-size: 14px;
    color: #acacac;
  }

/* footer */

.pie-pagina {
  width: 100%;
  background-color: #0F0E10;
  background-image: linear-gradient(to right, #6BDAB0, #9E68DD);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: up;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .isologo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.isologo img{
  width: 150px;
  height: 150px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}  

.pie-pagina .grupo-1 .box p{
  margin-bottom: 10px;
  color: rgb(146, 144, 144);
}

.input-email{
  border: 1px solid #fff;
  background-color: #0F0E10;
  color: #fff;
  border-radius: 8px;
  width: 150px;
  margin-right: 14px;
  display: inline-flex;
  font-size: 13px;
  padding: 12px 10px;
}

.input-submit{
  padding: 12px 24px;
  background-color: #6BDAB0;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 300;
  color: #0F0E10;
  cursor: pointer;
  margin-top: 25px;
}

.input-submit:hover{
  background-color: #37705a;
  color: #fff;
}

.pie-pagina .grupo-1 .social-icons a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #9E68DD;
  border-radius: 100%;
  text-align: center;
  font-size: 25px;
}

.pie-pagina .grupo-1 .social-icons a:hover{
  display: inline-block;
  line-height: 45px;
  width: 45px;
  height: 45px;
  color: #9E68DD;
  background-color: #ffffff;
  border-radius: 100%;
}

.pie-pagina .grupo-2{
  background-color: #1a181b;
  padding: 15px;
  text-align: center;
  color: #acacac;
}

/* Responsive */

@media screen and (max-width: 800px){
  .pie-pagina .grupo-1{
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }

  .pie-pagina .isologo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .isologo img{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .pie-pagina .grupo-1 .box{
    text-align: center;
  }

  .input-email{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 14px;
  }

  .input-submit{
    margin-top: 0px;
  }
}

  /* Contacto */
  .contacto-container{
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 0;
    box-sizing: border-box;
  }

  .form-container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 200px;
  }

  .contacto-container h1{
    text-align: center;
    margin-bottom: 60px;
    color: #f8f5f5;
  }

  .info-form p{
    margin-top: auto;
    margin-bottom: 20px;
    color: #f6f8f7;
  }

  .info-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 13px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    outline: 0px;
    background-color: #0F0E10;
    color: #fff;
  }

  .datos-contacto a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
  }

  .datos-contacto a i{
    color: #6BDAB0;
    margin-right: 10px;
  }